 
body{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    background: #19181f;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

ul li{
    text-decoration: none;
    list-style-type: none;
}


a {
    text-decoration: none;
}

h1{
    width: 100%;
    height: 60px;;
    text-align: center;
    font-size: 50px;
    background: #fe5;
    color: #444;

}



nav{
    width: 100%;
    height: 30px;;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
    
}



nav a{
    color: #fff;
    margin:  0 3% 0 3%;
}

nav a:hover{
    border-bottom: 1px solid #ccc;
}

.descricao{
    width: 80vw;
    /* height: 80vh; */
    margin:  8vh 10vw  18vh 10vw;
    display: grid;
    grid-template-areas:  'topo topo' 
                           'imagem texto';
    grid-template-columns:  1fr 2fr ;
    grid-template-rows:  1fr 7fr ;
    grid-row-gap: 5px; 
    grid-column-gap: 5px; 
    justify-content: center;

}

.descricao h2{
    /* background: #999; */
    grid-area: topo;
    text-align: center;
}

.imagem_perfil{
    grid-area: imagem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: #999; */
    /* border-radius: 100%; */
}

.imagem_perfil img{
    border-radius: 100%; 
    height: 40ch;
    /* margin-left: 30%; */
}


.informativo{
    grid-area: texto;
    background: #1d1b24;    
    width: 100%;
    border-radius: 10px;
    /* margin:  2%; */
}

.descricao_informativo{
    margin: 3%;
}

.subtitulo{
    width: 100%;
    text-align: center;
}


.area_trabalho{
    width: 90%;
    /* height: 100%; */
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

  

.content{
    background: #1d1b24;
    width: 500px;
    height: 55vh;
    margin: 2%;
    border-radius: 10px;
    color: #fff;
    box-shadow: 5px 5px 5px #000;
    /* padding: 1%; */
}

@media (max-width: 1000px){

    .descricao{
        grid-template-areas:  'topo imagem' 
                               'texto texto';
        grid-template-rows:  1fr 3fr ;
        
    }
    .imagem_perfil{
        display: flex;
        justify-content: flex-end;
    }
    .imagem_perfil img{
         height: 20ch;
       
    }

    .content{
        width: 100%;
        height: 55vh;
        /* padding: 1%; */
    }

    .content img{
        width: 100%;
        height: 80%;
    }
}

.content img{
    width: 100%;
    height: 250px;
}

.noma_projeto{
    width: 100%;
    height: 60px;
    font-size: 31px;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noma_projeto div{

    margin-left: 2%;
}

.slide{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 19px;

    
}

.slide:hover button{
    display: block;
}
.slide button:hover{
    opacity: 0.9;
}

.slide button{
    position: absolute;
    width: 60px;
    height: 250px;
    border: 0;
    background: #444;
    opacity: 0.6;
    display: none;
}

.btn_proximo{
    margin-left: 440px;
}

.descricao_projeto{
    margin: 2%;
}

.descricao_projeto p{
    font-size: 14px;
}

.descricao_projeto button{
    width: 100%;
    height: 35px;
    border: 1px solid #444;
    border-radius: 4px;
    background: #322f3d;
    font-size: 18px;
}

.descricao_projeto a{
    text-decoration: none;
    color: #111;
    }    
.descricao_projeto button:hover{
    background: #999;
}